---
---
html {
  --background-color: #201B3B;
  --secondary-color: #08051A;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #F0EEFECC;
  --border-color: #673AB7;
  --hero-bg-color: #201B3B;
  background-color: var(--background-color);
  transition: background-color .25s ease-out;

  * {
    transition: background .25s ease-out, background-color .25s ease-out;
  }
}

html[data-theme="light"] {
  --background-color: #F5F5F5;
  --secondary-color: #FFFFFF;
  --primary-text-color: #212121;
  --secondary-text-color: #616161;
  --border-color: #673AB7;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: var(--background-color);
}

.hero {
  background-color: var(--hero-bg-color);
  margin-top: -15px;

  .m-shape-container {
    .angle-top-left, .angle-top-right, .angle-bottom-left, .angle-bottom-right {
      background: var(--hero-bg-color);
    }
  }
}

.m-shape-container {
  .angle-top-left, .angle-top-right, .angle-bottom-left, .angle-bottom-right {
    background: var(--background-color);
  }
}

.shape-top, .shape-bottom {
  &.m-shape-container {
    .angle-top-left, .angle-top-right, .angle-bottom-left, .angle-bottom-right {
      background: var(--background-color);
      border-bottom: 2px solid var(--border-color);
    }
  }

  div:first-child {
    background-color: var( --secondary-color);
  }
}

.shape-top {
  div:first-child {
    border-top: 2px solid var(--border-color);
  }
}

.shape-bottom {
  div:first-child {
    border-bottom: 2px solid var(--border-color);
  }
}

.theme-secondary-bg {
  .m-shape-container {
    .angle-top-left, .angle-top-right, .angle-bottom-left, .angle-bottom-right {
      background: var(--secondary-color);
    }
  }
}

.hero-shape-top {
  &.m-shape-container {
    .angle-top-left, .angle-top-right {
      background: var(--hero-bg-color);
    }
  }
}

.theme-text-color-primary {
  color: var(--primary-text-color);
}

.theme-text-color-secondary {
  color: var(--secondary-text-color);
}

.theme-secondary-bg {
  background-color: var( --secondary-color);
}

.navbar {
  background: var(--background-color);
}

hr {
  border-top: 2px solid var(--border-color);
}

.list-group {
  a {
    background: transparent;
    color: var(--primary-text-color);
  }

  a:hover {
    background: var( --secondary-color);
    color: var(--primary-text-color);
  }
}

// Dark Mode Switch
.dark-mode-switch {
  width: 56px;
  height: 40px;
  margin: 10px;

  .custom-control-label:before {
    height: 2rem;
    width: 3.75rem;
    border-radius: .9rem;
    box-shadow: none !important;
  }
  .custom-control-label:after {
    width: 1.45rem;
    height: 1.45rem;
    border-radius: 50%;
  }
  .custom-control-input:checked~.custom-control-label:after {
    transform: translateX(1.8rem);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.hello-header {
  font-size: 3rem;
  font-family: adventure, script;
}

@keyframes gradient-data-v-fb6d3afe {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  to {
    background-position: 0 50%
  }
}

.site-name {
  font-family: adventure, script;
  background: linear-gradient(141.27deg, #ff904e -4.24%, #ff5982 21.25%, #ec68f4 44.33%, #26C6DA 83.46%);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: gradient-data-v-fb6d3afe 5s ease infinite;
  animation: gradient-data-v-fb6d3afe 5s ease infinite;
  -webkit-text-fill-color: transparent;
}

#blog-btn {
  background: linear-gradient(141.27deg, #ff904e, #ff5982, #E91E63);
}

#photography-btn {
  background: linear-gradient(141.27deg, #E91E63, #ec68f4, #26C6DA);
}

@media only screen and (max-width: 514px) {
  .navbar-expand-sm .navbar-nav {
    width: 100%;
    justify-content: space-evenly;
  }
}

.navbar-brand {
  font-size: 1.8rem;
}

.blog-container {
  max-width: 1220px;
  margin: 0 auto;
}

.blog-title {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.sub-heading {
  font-weight: 300;
  letter-spacing: 2px;
}

.material-style-showcase, .author-note {
  background: var(--background-color);
}

.highlight code {
  color: var(--primary-text-color);
}

code.language-plaintext {
  background: var(--background-color);
  padding: 2px 4px;
}

div.highlighter-rouge {
  padding: 15px;
  margin: 10px 0;
  background: var(--background-color);

  pre {
    margin: 0;
  }
}

// Pygments Highlight "PERLDOC"
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #228B22 } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #8B008B; font-weight: bold } /* Keyword */
.highlight .cm { color: #228B22 } /* Comment.Multiline */
.highlight .cp { color: #1e889b } /* Comment.Preproc */
.highlight .c1 { color: #228B22 } /* Comment.Single */
.highlight .cs { color: #8B008B; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #aa0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00aa00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #8B008B; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #a7a7a7; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #B452CD } /* Literal.Number */
.highlight .s { color: #CD5555 } /* Literal.String */
.highlight .na { color: #658b00 } /* Name.Attribute */
.highlight .nb { color: #658b00 } /* Name.Builtin */
.highlight .nc { color: #008b45; font-weight: bold } /* Name.Class */
.highlight .no { color: #00688B } /* Name.Constant */
.highlight .nd { color: #707a7c } /* Name.Decorator */
.highlight .ne { color: #008b45; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #008b45 } /* Name.Function */
.highlight .nn { color: #008b45; text-decoration: underline } /* Name.Namespace */
.highlight .nt { color: #ca0bca; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #00688B } /* Name.Variable */
.highlight .ow { color: #8B008B } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #B452CD } /* Literal.Number.Float */
.highlight .mh { color: #B452CD } /* Literal.Number.Hex */
.highlight .mi { color: #B452CD } /* Literal.Number.Integer */
.highlight .mo { color: #B452CD } /* Literal.Number.Oct */
.highlight .sb { color: #CD5555 } /* Literal.String.Backtick */
.highlight .sc { color: #CD5555 } /* Literal.String.Char */
.highlight .sd { color: #CD5555 } /* Literal.String.Doc */
.highlight .s2 { color: #CD5555 } /* Literal.String.Double */
.highlight .se { color: #CD5555 } /* Literal.String.Escape */
.highlight .sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
.highlight .si { color: #CD5555 } /* Literal.String.Interpol */
.highlight .sx { color: #cb6c20 } /* Literal.String.Other */
.highlight .sr { color: #1c7e71 } /* Literal.String.Regex */
.highlight .s1 { color: #CD5555 } /* Literal.String.Single */
.highlight .ss { color: #CD5555 } /* Literal.String.Symbol */
.highlight .bp { color: #658b00 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #00688B } /* Name.Variable.Class */
.highlight .vg { color: #00688B } /* Name.Variable.Global */
.highlight .vi { color: #00688B } /* Name.Variable.Instance */
.highlight .il { color: #B452CD } /* Literal.Number.Integer.Long */
