<nav id="site-home-top-nav" class="navbar flex-column pt-5 pt-sm-2">
  <a class="navbar-brand site-name mx-0" href="/">
    Neeraj Das
  </a>
  <ul class="navbar-nav d-flex flex-row align-items-center justify-content-evenly gap-4 px-4">
    <li class="nav-item">
      <a class="nav-link text-body" href="/blog">Open Source</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-body" href="/blog">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-body" href="/blog">UX design</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-body" href="https://photography.neerajdas.com/">Photography</a>
    </li>
  </ul>
</nav>
