<nav id="site-home-top-nav" class="navbar flex-column">
  <a class="navbar-brand site-name mx-0" href="/">
    Neeraj Das
  </a>
  <ul class="navbar-nav d-flex flex-row align-items-center justify-content-evenly gap-4 px-4">
    <div class="nav-item dropdown">
      <a class="dropdown-toggle theme-text-primary fs-5" href="#" id="theme-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-circle-half"></i>
      </a>
      <ul class="dropdown-menu position-absolute theme-bg" aria-labelledby="theme-dropdown">
        <li><button class="dropdown-item theme-text-primary" data-theme-value="light"><i class="bi bi-sun-fill me-2"></i> Light</button></li>
        <li><button class="dropdown-item theme-text-primary" data-theme-value="dark"><i class="bi bi-moon-stars-fill me-2"></i> Dark</button></li>
        <li><button class="dropdown-item theme-text-primary" data-theme-value="default"><i class="bi bi-star-fill me-2"></i> Dark Purple</button></li>
        <li><button class="dropdown-item theme-text-primary active" data-theme-value="auto"><i class="bi bi-circle-half me-2"></i> Auto</button></li>
      </ul>
    </div>
    <li class="nav-item">
      <a class="nav-link theme-text-primary" href="/blog">BLOG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link theme-text-primary" href="https://photography.neerajdas.com/">PHOTOGRAPHY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link theme-text-primary" href="https://materialstyle.github.io/" style="">MATERIAL STYLE</a>
    </li>
  </ul>
</nav>
