<nav id="site-home-top-nav" class="navbar flex-column pt-5 pt-sm-2">
  <a class="navbar-brand site-name mx-0" href="/">
    Neeraj Das
  </a>
  <ul class="navbar-nav d-flex flex-row align-items-center justify-content-evenly gap-4 px-4">
    <li class="nav-item">
      <a class="nav-link theme-text-primary" href="/blog">BLOG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link theme-text-primary" href="https://photography.neerajdas.com/">PHOTOGRAPHY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link theme-text-primary" href="https://materialstyle.github.io/">MATERIAL STYLE</a>
    </li>
  </ul>
</nav>
